@font-face {
    font-family: 'Noto Serif Gurmukhi WF';
    src: url('https://r12a.github.io/shared/webfonts/notoserifgurmukhi-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Gurmukhi WF';
    src: url('https://r12a.github.io/shared/webfonts/notosansgurmukhi-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=pa] { 
    font-family: 'Noto Serif Gurmukhi WF', serif;
    font-size: 200%;
    }










